/* Magic Mirror Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information on how you can configure this file
 * see https://docs.magicmirror.builders/getting-started/configuration.html#general
 * and https://docs.magicmirror.builders/modules/configuration.html
 */

let config = {
	address: "localhost", 	// Address to listen on, can be:
							// - "localhost", "127.0.0.1", "::1" to listen on loopback interface
							// - another specific IPv4/6 to listen on a specific interface
							// - "0.0.0.0", "::" to listen on any interface
							// Default, when address config is left out or empty, is "localhost"
	port: 8080,
	basePath: "/", 	// The URL path where MagicMirror is hosted. If you are using a Reverse proxy
					// you must set the sub path here. basePath must end with a /
	ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1"], 	// Set [] to allow all IP addresses
															// or add a specific IPv4 of 192.168.1.5 :
															// ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.1.5"],
															// or IPv4 range of 192.168.3.0 --> 192.168.3.15 use CIDR format :
															// ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.3.0/28"],

	useHttps: false, 		// Support HTTPS or not, default "false" will use HTTP
	httpsPrivateKey: "", 	// HTTPS private key path, only require when useHttps is true
	httpsCertificate: "", 	// HTTPS Certificate path, only require when useHttps is true

	language: "en",
	locale: "en-US",
	logLevel: ["INFO", "LOG", "WARN", "ERROR"], // Add "DEBUG" for even more logging
	timeFormat: 12,
	units: "imperial",
	// serverOnly:  true/false/"local" ,
	// local for armv6l processors, default
	//   starts serveronly and then starts chrome browser
	// false, default for all NON-armv6l devices
	// true, force serveronly mode, because you want to.. no UI on this device

	modules: [
	
		//Alerts
		{
			module: "alert",
		},
		
		//Updates
		{
			module: "updatenotification",
			position: "top_bar"
		},
		
		//Clock
		{
			module: "clock",
			position: "top_left"
		},
		
		//Apple Calendar
		{
			module: 'calendar',
			header: 'Upcoming Events',
			position: 'top_left',
			config: {
				maximumNumberOfDays: 10,
				maximumEntries: 7,
				calendars: [
						//https://fontawesome.com/v5.15/icons for icons
						//Self Growth
						{
								url: 'CALENDARY_URL,
								symbol: 'network-wired'
						},
						//Socializing
						{
								url: 'CALENDARY_URL',
								symbol: 'users'
						},
						//Car Stuff
						{
								url: 'CALENDARY_URL',
								symbol: 'car'
						},
						//Holidays
						{
								symbol: "glass-cheers",
								url: "webcal://www.calendarlabs.com/ical-calendar/ics/76/US_Holidays.ics"
						}
				]
			}
		},
		
		//Spotify Module
		{
		  module: "MMM-NowPlayingOnSpotify",
		  position: "top_left",

		  config: {
			clientID: "<YOUR_CLIENT_ID>",
			clientSecret: "<YOUR_CLIENT_SECRET>",
			accessToken: "<YOUR_ACCESS_TOKEN>",
			refreshToken: "<YOUR_REFRESH_TOKEN>"
		  }
		},

		//Compliments Module
		{
			module: "compliments",
			position: "lower_third"
		},
		
		//Camera On-Off
		// {
		// 	module: 'MMM-PIR-Sensor', 
		// 	position: "top_center", // Remove this line to avoid having an visible indicator
		// 	config: {
		// 		sensorPin: 22,
		// 		powerSavingDelay: 240, // Turn HDMI OFF after 60 seconds of no motion, until motion is detected again
		// 		powerSavingNotification : true,
		// 		powerSavingMessage: "The Mirror is Powering Off.",
		// 		preventHDMITimeout: 1, // Turn HDMI ON and OFF again every 4 minutes when power saving, to avoid LCD/TV timeout
		// 		supportCEC: true, 
		// 		presenceIndicator: "fa-eye", // Customizing the indicator
		// 		presenceOffIndicator: "fa-eye", // Customizing the indicator
		// 		presenceIndicatorColor: "#f51d16", // Customizing the indicator
		// 		presenceOffIndicatorColor: "#2b271c" // Customizing the indicator
		// 	}
		// },
        
        //Current Weather
		{
			module: "weather",
			position: "top_right",
			config: {
				weatherProvider: "openweathermap",
				type: "current",
				location: "Irvine",
				locationID: "5359777", //ID from http://bulk.openweathermap.org/sample/city.list.json.gz; unzip the gz file and find your city
				apiKey: "INSERT_API_KEY_HERE",
				roundTemp: "true",
				degreeLabel: "true",
				showPeriodUpper: "true"
			}
		},
		
		//Forecasted weather
		{
			module: "weather",
			position: "top_right",
			header: "Weather Forecast",
			config: {
				weatherProvider: "openweathermap",
				type: "forecast",
				location: "Irvine",
				locationID: "5359777", //ID from http://bulk.openweathermap.org/sample/city.list.json.gz; unzip the gz file and find your city
				apiKey: "INSERT_API_KEY_HERE"
			}
		},
		
		//Newsfeed
		{
			module: "newsfeed",
			position: "bottom_bar",
			config: {
				feeds: [
					{
						title: "New York Times",
						url: "https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml"
					}
				],
				showSourceTitle: true,
				showPublishDate: true,
				broadcastNewsFeeds: true,
				broadcastNewsUpdates: true
			}
		},
	]
};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== "undefined") {module.exports = config;}